h1, h2, h3 {
font-family: 'Raleway', sans-serif;
color: #0f6f7c;
line-height: 18px;
}

p {
  font-family: 'Georgia', serif;
}

h1 {
 text-transform: uppercase;
}

body {
  background-color: #a3a3a3;
}

.container {
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
}

a {
  color: #0f6f7c;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
color: #494949;
text-decoration: none;
}

.white-box {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

#me {
  width: 100px;
  border-radius: 50%;
}

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

i {
  color: #0f6f7c;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

i:hover {
  color: #494949;
  text-decoration: none;
}

.movies{
  display:flex;
  flex-direction: row;
  padding-left: 20px;
}

.movies img {
  height:250px;
  width: 180px;
  margin-bottom: 20px;
}

.movies p {
  text-align: justify;
  padding: 20px;
}


.movies-summary {

}
